# PHPStan configuration for GitHub Actions.

# Include PHPStan for WordPress configuration.
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

# Parameters
parameters:
    # Paths to scan
    # This should comprise of the base Plugin PHP file, plus directories that contain Plugin PHP files
    paths:
        - wp-convertkit.php
        - admin/
        - includes/

    # Files that include Plugin-specific PHP constants
    bootstrapFiles:
        - wp-convertkit.php

    # Location of WordPress Plugins for PHPStan to scan, building symbols.
    scanDirectories:
        - /home/runner/work/convertkit-wordpress/convertkit-wordpress/wordpress/wp-content/plugins

    # Should not need to edit anything below here
    # Rule Level: https://phpstan.org/user-guide/rule-levels
    level: 5

    # Ignore the following errors, as PHPStan and PHPStan for WordPress haven't registered symbols for them yet,
    # so they're false positives.
    ignoreErrors:
        - '#Multi_Value_Field_Table#'
        - '#Method CK_Widget_Form#'
        - '#code above always terminates#'