.convertkit-settings-wrap .widefat td {
    vertical-align: middle;
}

.nav-tab-wrapper .nav-tab-title {
    left: -10px;
    position: relative;
}

.mce-i-convertkit{
    background: url('ck.png') no-repeat center !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .mceIcon.mce_stagShortcodes,
    .mce-i-stagtools {
        background-image: url('ck-2x.png') !important;
        background-size: 18px 17px !important;
    }
}