.convertkit-product a,
.convertkit-product span,
.convertkit-button a,
.convertkit-button span {
	display: block;
	padding: calc(0.667em + 2px) calc(1.333em + 2px);
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	word-break: break-word;
	box-sizing: border-box;
}

/**
 * Replicates CSS styles provided by block themes for older non-block themes
 * that may not include these definitions, resulting in incorrect spacing.
 */
.convertkit-product,
.convertkit-button {
	margin-bottom: 20px;
}
@media only screen and (min-width: 482px) {
	.convertkit-product,
	.convertkit-button {
		margin-bottom: 30px;
	}
}