/**
 * Replicates CSS styles provided by block themes for older non-block themes
 * that may not include these definitions, resulting in incorrect spacing.
 */
form.formkit-form[data-format="inline"] {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
@media only screen and (min-width: 482px) {
	form.formkit-form[data-format="inline"] {
		margin-bottom: 30px;
	}
}

/**
 * Set a high z-index on sticky bar forms, to ensure sites
 * that use a z-index on a header / menu don't cover the
 * sticky bar form.
 */
.formkit-sticky-bar {
	z-index: 999999 !important;
}