/* Resets and typography */
#convertkit-restrict-content *,
#convertkit-restrict-content-modal * {
	box-sizing: border-box;
}
#convertkit-restrict-content h3,
#convertkit-restrict-content-modal h3 {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 24px;
	line-height: 40px;
	font-style: normal;
}
#convertkit-restrict-content h4,
#convertkit-restrict-content-modal h4 {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
}
#convertkit-restrict-content p,
#convertkit-restrict-content-modal p {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
}
#convertkit-restrict-content small,
#convertkit-restrict-content-modal small {
	display: block;
	font-size: 13px;
	line-height: 22px;
	color: #111;
}

/* Overlay */
#convertkit-restrict-content {
	width: 100%;
	background: #F9F7F4;
	color: #373f45;
	margin: 30px auto;
	padding: 40px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 8px;
}

/* Actions */
#convertkit-restrict-content .convertkit-product a {
	display: inline-block;
	text-decoration: none;
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	margin: 0;
	padding: 0 20px !important;
	border: none;
	border-radius: 3px;
}

/* Notices */
.convertkit-restrict-content-notice {
	display: inline-block;
	margin: 0 0 20px 0;
	padding: 0 0 0 30px;
	color: #d3434a;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	background-image: url(../images/error.svg);
	background-repeat: no-repeat;
	background-size: 24px 24px;
}


/* Buttons */
form#convertkit-restrict-content-form input[type=submit] {
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	margin: 0;
	padding: 0 20px !important;
	border: none;
	border-radius: 3px;
}

/* Email input with inline button */
form#convertkit-restrict-content-form div#convertkit-restrict-content-email-field {
	display: grid;
	grid-template-areas: "email button";
	grid-template-columns: 3fr 1fr;
	grid-column-gap: 5px;
	text-align: left;
	max-width: 500px;
	height: 56px;
	margin: 0 auto 20px auto;
	padding: 6px 10px;
	background-image: url(../images/email.svg);
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: 15px 15px;
	background-position: 18px 20px;
	border: 1px solid #fff;
	border-radius: 3px;
}
form#convertkit-restrict-content-form div#convertkit-restrict-content-email-field.convertkit-restrict-content-error {
	border-color: #d3434a;
}
form#convertkit-restrict-content-form div#convertkit-restrict-content-email-field input[type=email] {
	grid-area: email;
	text-indent: 35px;
	height: 42px;
	line-height: 42px;
	margin: 0;
	padding: 0;
	font-size: 15px;
	background: none;
	border: none;
}
form#convertkit-restrict-content-form div#convertkit-restrict-content-email-field input[type=submit] {
	grid-area: button;
}

/* One time code */
form#convertkit-restrict-content-form div#convertkit-subscriber-code-container {
	width: 427px;
	height: 100px;
	border: 1px solid #dce1e5;
	border-radius: 4px;
	margin: 0 auto 20px auto;
	overflow: hidden;
	background: #dce1e5;
}
form#convertkit-restrict-content-form div#convertkit-subscriber-code-container.convertkit-restrict-content-error {
	border-color: #d3434a;
}
form#convertkit-restrict-content-form div#convertkit-subscriber-code-container input#convertkit_subscriber_code {
	--otp-digits: 6;
	--otp-height: 98px;
	--otp-number-width: 70px;
	--otp-letter-spacing: 41px;
	--otp-text-indent: 20px;
	--otp-border-color: #dce1e5;
	--otp-text-color: #697177;
	--otp-font-size: 50px;
	--_otp-digit: 0;
	all: unset;
	text-align: left;
	margin: 0;
	padding: 0;
	background:
		linear-gradient(90deg, #dce1e5 var(--otp-number-width), transparent 0),
		linear-gradient(90deg, #fff var(--otp-number-width), transparent 0);
	background-position: calc(var(--_otp-digit) * (calc(var(--otp-number-width) + 1px))) 0, 0 0;
	background-repeat: no-repeat, repeat-x;
	background-size: calc(var(--otp-number-width) + 1px) 100%;
	inline-size: calc(var(--otp-digits) * calc(var(--otp-number-width) + 1px));
	letter-spacing: var(--otp-letter-spacing);
	text-indent: var(--otp-text-indent);
	width: calc((var(--otp-number-width) * var(--otp-digits)) + var(--otp-digits));
	height: var(--otp-height);
	color: var(--otp-text-color);
	font-size: var(--otp-font-size);
	font-family: monospace;
	font-weight: 400;
}

/* Modal */
#convertkit-restrict-content-modal-background {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999998;
	top: 0;
	left: 0;
	background: rgba(9, 13, 22, 0.8);
}
#convertkit-restrict-content-modal {
	box-sizing: border-box;
	display: none;
	position: fixed;
	z-index: 999999;
	width: 730px;
	height: 328px;
	top: calc(50% - 164px);
	left: calc(50% - 365px);
	margin: 0;
	padding: 80px 115px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 8px;
	text-align: center;
}
#convertkit-restrict-content-modal-loading {
	box-sizing: border-box;
	display: none;
	position: absolute;
	z-index: 1000000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: url(../images/spinner.gif) center no-repeat rgba(255, 255, 255, 0.8);
	border: none;
	border-radius: 8px;
	text-align: center;
}
#convertkit-restrict-content-modal form#convertkit-restrict-content-form div#convertkit-restrict-content-email-field {
	background-color: #f4f6f8;
}
#convertkit-restrict-content-modal-close {
	position: absolute;
	top: 25px;
	right: 25px;
	text-indent: -9999px;
	background-image: url(../images/cross.svg);
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 730px) {
	#convertkit-restrict-content .convertkit-restrict-content-actions {
		padding: 10px;
	}
	#convertkit-restrict-content input[type=email], #convertkit-restrict-content input[type=text], #convertkit-restrict-content input#convertkit_subscriber_code {
		width: 100%;
	}
	#convertkit-restrict-content-modal {
		width: 90%;
		height: auto;
		left: 5%;
		padding: 40px;
	}
	form#convertkit-restrict-content-form div#convertkit-subscriber-code-container {
		width: 213px;
		height: 50px;
	}
	form#convertkit-restrict-content-form div#convertkit-subscriber-code-container input#convertkit_subscriber_code {
		--otp-height: 49px;
		--otp-number-width: 35px;
		--otp-letter-spacing: 20px;
		--otp-text-indent: 10px;
		--otp-font-size: 25px;
	}
}
