#convertkit-restrict-content {
	width: 100%;
	background: #f6f8fa;
	color: #373f45;
	margin: 30px auto;
	padding: 40px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 8px;
}
#convertkit-restrict-content * {
	box-sizing: border-box;
}
#convertkit-restrict-content h3 {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 24px;
	line-height: 40px;
	font-style: normal;
}
#convertkit-restrict-content p {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
}
#convertkit-restrict-content small {
	font-size: 13px;
	line-height: 22px;
	color: #111;
}

#convertkit-restrict-content .convertkit-restrict-content-actions {
	margin: 0;
}
#convertkit-restrict-content .convertkit-restrict-content-actions p:last-child {
	margin: 0;
}
#convertkit-restrict-content .convertkit-restrict-content-actions .convertkit-product a {
	display: inline-block;
	text-decoration: none;
}

#convertkit-restrict-content .convertkit-restrict-content-notice {
	margin: 0 0 20px 0;
	padding: 10px;
}
#convertkit-restrict-content .convertkit-restrict-content-notice-success {
	background: #daf7e1;
}
#convertkit-restrict-content .convertkit-restrict-content-notice-error {
	background: #f7dada;
}

#convertkit-restrict-content form div {
	display: grid;
	grid-template-areas: "email button";
	grid-template-columns: auto 85px;
	grid-column-gap: 5px;
	text-align: left;
	max-width: 500px;
	height: 56px;
	margin: 0 auto 20px auto;
	padding: 6px 10px;
	background-image: url(../images/email.svg);
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: 15px 15px;
	background-position: 18px 20px;
	border-radius: 3px;
}
#convertkit-restrict-content form div input[type=email] {
	grid-area: email;
	text-indent: 35px;
	height: 42px;
	line-height: 42px;
	margin: 0;
	padding: 0;
	font-size: 15px;
	background: none;
	border: none;
}
#convertkit-restrict-content form div input[type=submit] {
	grid-area: button;
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	margin: 0;
	padding: 0 20px;
	border: none;
	border-radius: 3px;
	background: #000;
	color: #fff;
}
#convertkit-restrict-content input#convertkit_subscriber_code {
	width: 100%;
	margin-bottom: 20px;
	font-size: 24px;
}
#convertkit-restrict-content #convertkit-restrict-content input[type=submit] {
	display: inline-block;
	border: none;
}

@media screen and (max-width: 450px) {
	#convertkit-restrict-content {
		padding: 0;
	}
	#convertkit-restrict-content .convertkit-restrict-content-actions {
		padding: 10px;
	}
	#convertkit-restrict-content input[type=email], #convertkit-restrict-content input[type=text], #convertkit-restrict-content input#convertkit_subscriber_code {
		width: 100%;
	}
}
