#convertkit-bulk-edit {
	display: none;
}
#convertkit-bulk-edit label span.title {
	background: url(../images/block-icon-form.png) 0% 50% no-repeat;
	background-size: 16px 16px;
	text-indent: 24px;
}
