.convertkit-modal-overlay {
	display: none;
	position: fixed;
	z-index: 99999999;
	top: 0;
	left: 0;
	opacity: 0.7;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}
.convertkit-modal {
	display: none;
	position: fixed;
	z-index: 100000000;

	top: 50vh;
	left: 50vw;
	width: 50vw;
	height: 300px;
	margin: -150px 0 0 -25vw;

	box-sizing: border-box;
	background-color: #f7f7f7;
	padding: 20px;
}
.convertkit-modal h2 {
	font-size: 20px;
	line-height: 25px;
	font-weight: 700;
	margin: 0 0 10px 0;
	padding: 0;
}
.convertkit-modal p.message {
	margin: 0 0 20px 0;
	padding: 0;
}