.eicon-convertkit-form {
	width: 24px;
	height: 24px;
	background: url(../images/block-icon-form.svg) center no-repeat;
	background-size: 24px 24px;
}
.eicon-convertkit-formtrigger {
	width: 24px;
	height: 24px;
	background: url(../images/block-icon-formtrigger.svg) center no-repeat;
	background-size: 24px 24px;
}
.eicon-convertkit-broadcasts {
	width: 24px;
	height: 24px;
	background: url(../images/block-icon-broadcasts.svg) center no-repeat;
	background-size: 24px 24px;
}
.eicon-convertkit-product {
	width: 24px;
	height: 24px;
	background: url(../images/block-icon-product.svg) center no-repeat;
	background-size: 24px 24px;
}
