/**
 * Settings > Kit
 */
body.settings_page__wp_convertkit_settings {
	background: #f9f7f4;
}
body.settings_page__wp_convertkit_settings #wpcontent {
	padding-left: 0;
}

/**
 * Header
 */
body.settings_page__wp_convertkit_settings header {
	height: 98px;
	padding: 0 20px;
	background: url(../images/kit-logo.svg) 30px 50% no-repeat;
	background-size: 75px auto;
	background-color: #ffffff;
}
body.settings_page__wp_convertkit_settings h1 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: #D2D8DD;
	text-indent: -9999px;
}
body.settings_page__wp_convertkit_settings header a.convertkit-docs {
	float: right;
	margin: 20px 20px 0 0;
	padding: 0 0 0 30px;
	font-weight: 400;
	color: #144264;
	text-decoration: none;
	background: url(../images/help.svg) 0 0% no-repeat;
	background-size: 20px 20px;
}
body.settings_page__wp_convertkit_settings .wrap {
	margin-left: 20px;
}

/**
 * Notices
 */
body.settings_page__wp_convertkit_settings .notice {
	margin-top: 0;
}

/**
 * Tabs
 */
ul.convertkit-tabs {
	margin: 0 0 25px 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #d0d0cf;
}
ul.convertkit-tabs li {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 64px;
	line-height: 64px;
	list-style-type: none;
}
ul.convertkit-tabs li a {
	display: inline-block;
	padding: 0 20px;
	height: 64px;
	line-height: 64px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	color: #565656;
}
ul.convertkit-tabs li a:hover {
	color: #144264;
	background: #e7e7e7;
}
ul.convertkit-tabs li a.convertkit-tab-active {
	color: #144264;
	border-bottom: 1px solid #4c596d;
}

/**
 * Section
 */
body.settings_page__wp_convertkit_settings .wrap .postbox {
	background: #fff;
	color: #6e6e6e;
	margin: 0 0 30px 0;
	padding: 40px 30px 30px 30px;
	font-size: 14px;
	border-radius: 8px;
	border: none;
}
body.settings_page__wp_convertkit_settings .wrap .postbox h2 {
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	font-size: 24px;
	font-weight: 600;
	border-bottom: 1px solid #e3e3e3;
	color: #3d3d3d;
}
body.settings_page__wp_convertkit_settings .wrap .postbox p {
	font-size: 14px;
}
body.settings_page__wp_convertkit_settings .wrap .postbox p.submit {
	padding: 0;
}
body.settings_page__wp_convertkit_settings .wrap .postbox .button {
	margin: 0 5px 0 0;
	padding: 4px 12px;
	font-size: 14px;
	border-radius: 10px;

	/* Required for WordPress 5.x styling */
	height: auto;
	text-shadow: none;
	box-shadow: none;
}
body.settings_page__wp_convertkit_settings .wrap .postbox .button-primary {
	background: #1e1e1e;
	border-color: #1e1e1e;
	color: #fff;
}
body.settings_page__wp_convertkit_settings .wrap .postbox .button-primary:hover {
	background: #3d3d3d;
	border-color: #3d3d3d;
}
body.settings_page__wp_convertkit_settings .wrap .postbox .button-secondary {
	background: #f0f0f0;
	border-color: #f0f0f0;
	color: #3d3d3d;
}
body.settings_page__wp_convertkit_settings .wrap .postbox .button-secondary:hover {
	background: #ddd;
	border-color: #ddd;
}
body.settings_page__wp_convertkit_settings .wrap .postbox textarea.convertkit-monospace {
	font-family: monospace;
	padding: 20px;
}

/**
 * Beta Label
 */
body.settings_page__wp_convertkit_settings ul.convertkit-tabs li a span.convertkit-beta-label {
	background-color: #f0fff3;
	border-radius: 9999px;
	color: #4ec776;
	margin: 0 0 0 12px;
	padding: 1px 8px;
	font-weight: 400;
	font-size: 12px;
}
body.settings_page__wp_convertkit_settings .wrap .postbox.convertkit-beta span.convertkit-beta-label {
	display: inline-block;
	background-color: #f0fff3;
	border-radius: 9999px;
	color: #4ec776;
	border-width: 1px;
	margin: 7px 0 0 12px;
	padding: 1px 8px;
	vertical-align: top;
	font-size: 12px;
}
body.settings_page__wp_convertkit_settings .wrap .postbox.convertkit-beta > h2 {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
}
body.settings_page__wp_convertkit_settings .wrap .postbox.convertkit-beta > p.description {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #e3e3e3;
}
