.wrap .page-title-action.convertkit-action {
	background: url(../images/logomark-red.svg);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 8px 50%;
	padding-left: 30px;
}
