.wrap .page-title-action.convertkit-action {
	width: 124px;
	background: url(../images/logomark.svg);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 8px 50%;
	padding-left: 30px;
}
.wrap .page-title-action.convertkit-action:after {
	float: right;
	font: 400 20px/1 dashicons!important;
	content: "\f347";
	padding: 5px 0 0 0;
}
.wrap .page-title-action.convertkit-action span {
	visibility: hidden;
	display: none;
	opacity: 0;
	position: absolute;
	margin: 0;
	padding: 10px;
	left: -1px;
	background-color: #f0f0f1;
	border-left: 1px solid #0a4b78;
	border-right: 1px solid #0a4b78;
	border-bottom: 1px solid #0a4b78;
}
.wrap .page-title-action.convertkit-action span a {
	display: block;
	text-decoration: none;
}
.wrap .page-title-action.convertkit-action:hover > span,
.wrap .page-title-action.convertkit-action span:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}